@page "/student/profile"
@layout StudentLayout
@attribute [Authorize(Roles = "student")]
@inject ILoginService LoginService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-home"></i> Profile</div>
        <a href="/student/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- PROFILE PAGE CONTENT STARTS HERE -->
    <!-- PROFILE PAGE SECTION 1 STARTS HERE -->
    <section class="admindb-s1">
        <div>
            <img src="./css/images/Avatar-Profile-PNG-Picture.png">
            <h1>@user.first_name @user.last_name</h1>
            <p>Student</p>
        </div>
    </section>
    <!-- PROFILE PAGE SECTION 1 ENDS HERE -->
    <!-- PROFILE PAGE SECTION 2 STARTS HERE -->
    <section class="admin-profile">
        <div class="admin-items">
            <table width="100%">
                <tr>
                    <td class="heading">Personal Information</td>
                </tr>
                <tr>
                    <td class="label">Name:</td>
                    <td class="admin-info">@user.first_name @user.middle_name @user.last_name</td>
                </tr>
                <tr>
                    <td class="label">Address:</td>
                    <td class="admin-info">@user.barangay, @user.city, @user.province - @user.zipcode</td>
                </tr>
                <tr>
                    <td class="label">Contact Number:</td>
                    <td class="admin-info">@user.phonenum</td>
                </tr>
                <tr>
                    <td class="label">Citizenship:</td>
                    <td class="admin-info">@user.citizenship</td>
                </tr>
                <tr>
                    <td class="label">Sex:</td>
                    <td class="admin-info">@user.sex</td>
                </tr>

                <tr>
                    <td class="heading">School Information</td>
                </tr>
                <tr>
                    <td class="label">School-issued E-mail:</td>
                    <td class="admin-info">@user.schoolemail</td>
                </tr>
                <tr>
                    <td class="label">ID Number:</td>
                    <td class="admin-info">@user.idnumber</td>
                </tr>
                <tr>
                    <td class="label">College:</td>
                    <td class="admin-info">@user.college</td>
                </tr>
                <tr>
                    <td class="label">School:</td>
                    <td class="admin-info">@user.schoolname</td>
                </tr>
                <tr>
                    <td class="label">School Address:</td>
                    <td class="admin-info">@user.school_barangay, @user.school_city, @user.school_province - @user.school_zipcode</td>
                </tr>


                <tr>
                    <td class="heading">Login Information</td>
                </tr>
                <tr>
                    <td class="label">Email:</td>
                    <td class="admin-info">@user.email</td>
                </tr>
                <tr>
                    <td class="label">Password:</td>
                    <td class="admin-info">***********</td>
                </tr>
            </table>

            <br>
            <div class="mt-4 d-flex justify-content-end">
                <button class="editbutton" @onclick="OnEditProfile">Edit Profile</button>
            </div>
            <br><br>
        </div>
    </section>
    <!-- PROFILE PAGE SECTION 2 ENDS HERE -->
    <!-- PROFILE PAGE CONTENT ENDS HERE -->
</div>

@code {
    User user = new User();

    protected async override Task OnInitializedAsync()
    {
        string username = await LocalStorage.GetItemAsStringAsync("username");
        user = await LoginService.GetUser(username);
    }

    private void OnEditProfile()
    {
        NavManager.NavigateTo($"/student/profile/form/{user.Id}");
    }
}
