@page "/student/myrecord"
@layout StudentLayout
@attribute [Authorize(Roles = "student")]
@inject ICompiledTaskService CompiledTaskService
@inject ITaskService TaskService
@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage
@inject ILoginService LoginService
@inject ISearchService SearchService
<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-solid fa-list"></i>Task Record</div>
        <a href="/student/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- TASK PAGE CONTENT STARTS HERE -->
    <!-- TASK PAGE SECTION 1 STARTS HERE -->
    <section class="admindb-s1">
        <div class="search-container">
            <EditForm Model="search" OnValidSubmit="OnSubmitSearch">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <input type="text" @bind-value="search.SearchString" placeholder="Search by Task Code" name="search">
                <ValidationMessage For="() => search.SearchString" />
                <button type="submit" class="search-button">Search</button>
            </EditForm>
        </div>
    </section>
    <!-- TASK PAGE SECTION 1 ENDS HERE -->
    <!-- TASK PAGE SECTION 2 STARTS HERE -->
    <section class="studentable-s2">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Task Code</th>
                    <th>Uploaded File</th>
                    <th>Date of Submission</th>
                    <th>Remarks</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var compiledTask in CompiledTasks)
                {
                    <tr>
                        <td>@compiledTask.TaskCode</td>
                        <td>
                            <a @onclick="() => OnPdfClick(compiledTask.Id)">
                                @compiledTask.StudentFileName
                            </a>
                        </td>
                        <td>@compiledTask.SubmissionDate.ToLongDateString()</td>
                        <td>@(compiledTask.Remarks == null ? "Done": compiledTask.Remarks)</td>
                        <td>@(compiledTask.Score == 0 ? "No Scores Yet": compiledTask.Score)</td>
                    </tr>
                }
                <!-- and so on... -->
            </tbody>
        </table>
    </section>
    <!-- TASK PAGE SECTION 2 ENDS HERE -->
    <!-- TASK PAGE CONTENT ENDS HERE -->
</div>

@code {
    List<CompiledTask> CompiledTasks = new List<CompiledTask>();
    Search search = new Search();
    int studentId;

    protected async override Task OnInitializedAsync()
    {
        var username = await LocalStorage.GetItemAsStringAsync("username");
        var user = await LoginService.GetUser(username);
        studentId = user.Id;
        CompiledTasks = await CompiledTaskService.GetAllCompiledTaskPerStudent(user.Id);
        foreach (var compiledTask in CompiledTasks)
        {
            var task = await TaskService.GetTasks(compiledTask.TaskId);
            compiledTask.TaskCode = task.TaskCode;
        }
    }

    private async Task OnSubmitSearch()
    {
        search.StudentId = studentId;
        CompiledTasks = await SearchService.SearchCompiledTaskPerStudent(search);
        foreach (var compiledTask in CompiledTasks)
        {
            var task = await TaskService.GetTasks(compiledTask.TaskId);
            compiledTask.TaskCode = task.TaskCode;
        }
    }

    private void OnPdfClick(int Id)
    {
        NavManager.NavigateTo($"/student/pdfviewer/{Id}");
    }
}
