@page "/coordinator/profile"
@layout CoordinatorLayout
@attribute [Authorize(Roles = "coordinator")]
@inject NavigationManager NavManager
@inject ILoginService LoginService
@inject ILocalStorageService LocalStorage

<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-home"></i> Profile</div>
        <a href="/coordinator/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>

    <section class="admindb-s1">
        <div>
            <img src="./css/images/Avatar-Profile-PNG-Picture.png">
            <h1>@coordinator.first_name @coordinator.last_name</h1>
            <p>Coordinator</p>
        </div>
    </section>
    <section class="admin-profile">
        <div class="admin-items">
            <table width="100%">
                <tr>
                    <td class="heading">Personal Information</td>
                </tr>
                <tr>
                    <td class="label">Name:</td>
                    <td class="admin-info">@coordinator.first_name @coordinator.last_name</td>
                </tr>
                <tr>
                    <td class="label">Address:</td>
                    <td class="admin-info">@coordinator.barangay, @coordinator.city, @coordinator.province</td>
                </tr>
                <tr>
                    <td class="label">Contact Info:</td>
                    <td class="admin-info">@coordinator.schoolemail | @coordinator.phonenum</td>
                </tr>
                <tr>
                    <td class="heading">Login Information</td>
                </tr>
                <tr>
                    <td class="label">Email:</td>
                    <td class="admin-info">@coordinator.email</td>
                </tr>
                <tr>
                    <td class="label">Password:</td>
                    <td class="admin-info">*********</td>
                </tr>
            </table>

            <div class="mt-4 d-flex justify-content-end">
                <button class="editbutton" @onclick="OnEditProfile">Edit Profile</button>
            </div>
        </div>
    </section>
</div>

@code {        

    Coordinator coordinator = new Coordinator();

    protected async override Task OnInitializedAsync()
    {
        string username = await LocalStorage.GetItemAsStringAsync("username");
        coordinator = await LoginService.GetCoordinator(username);
    }

    private void OnEditProfile()
    {
        Console.WriteLine(coordinator.Id);
        NavManager.NavigateTo($"/coordinator/profile/form/{coordinator.Id}");
    }
}
