@page "/coordinator/supervisor"
@layout CoordinatorLayout
@attribute [Authorize(Roles = "coordinator")]
@inject NavigationManager NavManager
@inject ISupervisorService SupervisorService
@inject IToastService Toast
@inject ISearchService SearchService

<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars d-block d-md-none" id="menu-btn"></div>
        <div><i class="fas fa-solid fa-id-badge"></i>Supervisor</div>
        <a href="/coordinator/profile"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- SEARCH BAR AND BUTTONS STARTS HERE -->
    <section class="admindb-s1">
        <div class="search-container">
            <EditForm Model="search" OnValidSubmit="OnSubmitSearch">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <input type="text" @bind-value="search.SearchString" placeholder="Search by Last Name" name="search">
                <ValidationMessage For="() => search.SearchString"/>
                <button type="submit" class="search-button">Search</button>
            </EditForm>
            <button type="button" class="add-student-button" @onclick="OnAddClick">+ Add New Supervisor</button>
        </div>
    </section>
    <!-- SEARCH BAR AND BUTTONS ENDS HERE -->
    <!-- COORDINATOR SECTION STARTS HERE -->
    <section class="admindb-s2">
        @foreach (var supervisor in Supervisors)
        {
            <div class="db-item">
                <div>
                    <div class="w-100 d-flex justify-content-center">
                        <img src="./css/images/Avatar-Profile-PNG-Picture.png" alt="Avatar" class="avatar">
                    </div>
                    <h3>@supervisor.last_name, @supervisor.first_name @supervisor.middle_name</h3>
                    <p>@supervisor.schoolname</p>
                    <p>@supervisor.college</p>
                    <div>
                        <button type="button" class="edit-coordinator-button" @onclick="() => OnEditClick(supervisor.Id)">Edit</button>
                        <button type="button" class="del-coordinator-button" @onclick="() => OnDeleteClick(supervisor)">Delete</button>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
<!-- COORDINATOR SECTION ENDS HERE -->

@code {
    List<Supervisor> Supervisors = new List<Supervisor>();

    Search search = new Search();

    protected override async Task OnInitializedAsync()
    {
        Supervisors = await SupervisorService.GetAllSupervisor();
    }

    private async Task OnSubmitSearch()
    {
        Supervisors = await SearchService.SearchSupervisor(search);
    }

    private void OnAddClick()
    {
        NavManager.NavigateTo("coordinator/supervisor/form");
    }

    private void OnEditClick(int supervisorId)
    {
        NavManager.NavigateTo($"coordinator/supervisor/form/{supervisorId}");
    }

    private async Task OnDeleteClick(Supervisor supervisor)
    {
        var result = await SupervisorService.DeleteSupervisor(supervisor);
        Toast.ShowSuccess("Supervisor Successfully Deleted", "Deleted");
        Supervisors = result;
    }
}
